html, 
body { margin:0px; padding:0px; overflow:hidden; font-family:"Courier New", Courier, monospace;}

#content_wrapper {position:absolute; width:100%; height:100%;  z-index:3;}
#canvas_processing {position:absolute; top:0px; left:0px; z-index:2;}
#canvas_processing_bg {position:absolute; top:0px; left:0px; z-index:1;}

.draggable { text-align:center; display:none; cursor:move; width:auto; height:auto; padding:20px; position:absolute; background:red; border:1px black solid;   }
.draggable.visible_parent {display:block; background:white; border:1px black solid; border-radius:200px; width:80px; height:80px; }
.draggable.visible_child {display:block; background:white; border:1px black solid;}

/*CSS3 Animations*/ 
/*.draggable {transition: rectangle 0.2s; -webkit-transition: rectangle 0.2s; -moz-transition: rectangle 0.2s; -o-transition: rectangle 0.2s; -ms-transition: rectangle 0.2s;}  
*/

.draggable {
  transition-property:  border-radius;
  transition-duration:  0.5s;
}

#breadcrumb {z-index:100; position:fixed;}
#breadcrumb a { display:inline-block;}

.x_coord, .y_coord { width:30px;}